.meme {
  display: flex;
  flex-direction: column;
  position: absolute;

  img {
    height: 350px;
    width: 650px;
  }

  h3 {
    position: relative;
    bottom: 85px;
    left: 450px;
    color: white;
  }

  h2 {
    top: 90px;
    color: white;
    left: 60px;
    position: relative;
  }
}

.wrapper {
  margin-left: 28%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  h1 {
    text-align: center;
  }
}