:global(*) {
  body {
    text-align: center;
  }

  img {
    width: 250px;
  }

  .header {
    color: rgb(156, 8, 8);
    position: relative;
    top: 60px;
  }

  .footer {
    color: rgb(156, 8, 8);
    position: relative;
    bottom: 60px;
  }

}