.meme {
  font-family: sans-serif;
  h1{
    background: black;
    color: white;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  form {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
}

.final {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  /*p {
    position: absolute;
    left: 50vw;
    color: white;
    font-family: sans-serif;
  }
  img {
    position: absolute;
    left: 25vw;
    padding: 0px;
    width: 500px;
  }*/
}
